<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="preProcessorToUpper" class="fr._42.spring.preprocessor.PreProcessorToUpperImpl"/>
    <bean id="preProcessorToLower" class="fr._42.spring.preprocessor.PreProcessorToLowerImpl"/>


    <bean id="rendererStandard" class="fr._42.spring.renderer.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>
    <bean id="rendererErr" class="fr._42.spring.renderer.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>


    <bean id="printerWithPrefix" class="fr._42.spring.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererErr"/>
        <property name="prefix" value="PREFIX"/>
    </bean>
    <bean id="printerWithDateTime" class="fr._42.spring.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="rendererStandard"/>
    </bean>
</beans>
